selektor{
  display: grid;
}
body{
  margin: 150px;
  margin-top: 10px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 80px;
  background-color: black;
}
h1{
  font-family: monospace;
  font-size: 40px;
  text-align: center;
}
header{
  color: white;
  padding: 5px;
  margin-right: -105px;
  margin-left: -100px;
  border: solid;
  border-color: white;
  text-decoration: line-through;
}
main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  text-align: center;
  margin-top: 30px;
}
a{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
img{
  width: 100%;
  margin-top: 20px;
}
p{
  color: white;
}
footer{
  margin-top: 80px;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  border: solid;
  border-color: white;
  background-color: black;
}
